{% load static %}
<!--=====================================-->
<!--=        Follow Us                  =-->
<!--=====================================-->
<div class="sidebar-widget">
    <div class="widget-follow follow-layout1 radius-default padding-40 box-border-dark-1">
        <h3 class="title h3-medium">Follow Us</h3>
        <p class="description">Follow us on Social Network</p>
        <div class="axil-social social-layout-1 size-small gap-12 justify-content-center">
            <ul>
                <li class="facebook">
                    <a href="https://facebook.com/" aria-label="Learn more from Facebook">
                        <i class="solid-facebook2"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a href="https://instagram.com/" aria-label="Learn more from Instagram">
                        <i class="regular-instagram"></i>
                    </a>
                </li>
                <li class="mail-fast">
                    <a aria-label="Learn more from Mail fast" href="https://mail-fast.com/">
                        <i class="regular-mail-fast"></i>
                    </a>
                </li>
                <li class="pinterest">
                    <a href="https://pinterest.com/" aria-label="Learn more from Pinterest">
                        <i class="solid-pinterest-01"></i>
                    </a>
                </li>
                <li class="youtube">
                    <a href="https://youtube.com/" aria-label="Learn more from Youtube">
                        <i class="solid-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>