{% load static %}
<!--=====================================-->
<!--=        Recommended topics         =-->
<!--=====================================-->
<div class="sidebar-widget">
    <div class="section-heading heading-style-6">
        <h3 class="title">Recommended topics</h3>
    </div>
    <div class="widget-tagcloud tagcloud-layout4">
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="regular-medical-service"></i>
            </span>Healthcare
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="regular-shopping-basket2"></i>
            </span>Fashion
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="solid-interactive"></i>
            </span>History
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="regular-graduation-cap1"></i>
            </span>Education
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="regular-globe-stand"></i>
            </span>World
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="solid-interactive"></i>
            </span>History
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="regular-graduation-cap1"></i>
            </span>Education
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="solid-interactive"></i>
            </span>History
        </a>
        <a href="archive-layout1.html" class="tag-cloud-link box-shadow-small shadow-style-2 box-border-dark-1">
            <span class="icon-holder">
                <i class="regular-shopping-basket2"></i>
            </span>Fashion
        </a>
    </div>
</div>
