{% load static %}
<!--=====================================-->
<!--=        Short Stories              =-->
<!--=====================================-->
<div class="sidebar-widget">
    <div class="section-heading heading-style-6">
        <h3 class="title">Short Stories</h3>
    </div>
    <div class="widget-post post-layout1">
        <div class="post-box">
            <div class="figure-holder radius-default">
                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="700" height="470" src="assets/media/blog/post23.webp" alt="Post"></a>
            </div>
            <div class="content-holder">
                <h3 class="entry-title color-light-1-fixed h3-small underline-animation"><a href="post-format-default.html" class="link-wrap">Top 5 Street Tacos In Usa Top 5 Street Tacos
                        In Usa</a></h3>
                <ul class="entry-meta color-light-1-fixed">
                    <li>
                        <i class="regular-clock-circle"></i>2 min read
                    </li>
                </ul>
            </div>
        </div>
        <div class="post-box">
            <div class="figure-holder radius-default">
                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="140" height="140" src="assets/media/blog/post14.webp" alt="Post"></a>
            </div>
            <div class="content-holder">
                <h3 class="entry-title color-dark-1 underline-animation h3-extra-small"><a href="post-format-default.html" class="link-wrap">Smarter Food 101 Tips For Your Health</a></h3>
                <ul class="entry-meta color-dark-1">
                    <li>
                        <i class="regular-clock-circle"></i>2 min read
                    </li>
                </ul>
            </div>
        </div>
        <div class="post-box">
            <div class="figure-holder radius-default">
                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="140" height="140" src="assets/media/blog/post15.webp" alt="Post"></a>
            </div>
            <div class="content-holder">
                <h3 class="entry-title color-dark-1 underline-animation h3-extra-small"><a href="post-format-default.html" class="link-wrap">Virtual Reality (VR), The Use Computer
                        Modeling</a></h3>
                <ul class="entry-meta color-dark-1">
                    <li>
                        <i class="regular-clock-circle"></i>8 min read
                    </li>
                </ul>
            </div>
        </div>
        <div class="post-box">
            <div class="figure-holder radius-default">
                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="140" height="140" src="assets/media/blog/post16.webp" alt="Post"></a>
            </div>
            <div class="content-holder">
                <h3 class="entry-title color-dark-1 underline-animation h3-extra-small"><a href="post-format-default.html" class="link-wrap">Reality Hosting, The Use Computer Modeling</a>
                </h3>
                <ul class="entry-meta color-dark-1">
                    <li>
                        <i class="regular-clock-circle"></i>5 min read
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>