{% load static %}
<!--=====================================-->
<!--=        Sign Up for free           =-->
<!--=====================================-->
<div class="sidebar-widget">
    <div class="widget-newsletter newsletter-layout1 box-border-dark-1">
        <h2 class="title">NEWSLETTER THAT MAKES YOU HUNGRY!</h2>
        <div class="sub-title">Sign Up for free</div>
        <form action="#" class="newsletter-form">
            <input type="email" class="email-input" placeholder="Email Address">
            <button type="submit" class="axil-btn axil-btn-fill axil-btn-dark-fixed w-100 axil-btn-bold">
                Subscribe<i class="solid-navigation"></i>
            </button>
        </form>
    </div>
</div>