{% load static %}   

<!--=====================================-->
<!--=          Hero Area Start          =-->
<!--=====================================-->
<section class="hero-wrap-layout1 bg-color-light-1 transition-default">
    <div class="container">
        <div class="hero-box-layout1">
            <h1 class="title h1-large">Hey, We’re Blogxpress.<span> See Our Thoughts, Stories And Ideas.</span></h1>
            <form action="#" class="search-form radius-default">
                <input type="email" class="email-input" placeholder="Search">
                <button type="submit" class="axil-btn"><i class="regular-search-02"></i>
                </button>
            </form>
        </div>
    </div>
</section>