{% load static %}

<!--=====================================-->
<!--=        Category Area Start        =-->
<!--=====================================-->
<section class="category-wrap-layout-2 bg-color-light-1 transition-default">
    <div class="container">
        <div class="position-relative">
            <div id="category-slider-2" class="category-slider-2 gutter-30 initially-none">
                {% for tag in tags %}
                <div class="single-slide">
                    <div class="category-box-layout2 figure-scale-animation">
                        <div class="figure-holder radius-default">
                            <a href="{% url 'archive_layout' tag.name %}" class="link-wrap img-height-100">
                                {% if tag.icon %}
                                    <img width="180" height="130" src="{{ tag.icon.url }}" alt="{{ tag.name }}">
                                {% else %}
                                    <img width="180" height="130" src="{% static 'assets/media/category/default.webp' %}" alt="Default Image">
                                {% endif %}
                            </a>
                            <div class="entry-category style-4 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="{% url 'archive_layout' tag.name %}">{{ tag.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <ul class="slider-navigation-layout1 color-light-1 position-layout2">
                <li id="category-prev2" class="prev"><i class="regular-arrow-left"></i></li>
                <li id="category-next2" class="next"><i class="regular-arrow-right"></i></li>
            </ul>
        </div>
    </div>
</section>
