{% load static %}   

<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->
<section class="post-wrap-layout20 space-top-50 bg-color-light-1 transition-default">
    <div class="container">
        <div class="section-heading heading-style-1">
            <h2 class="title">Most Popular</h2>
        </div>
        <div class="row g-3">
            <div class="col-lg-6">
                <div class="post-box-layout22 radius-default padding-20 bg-color-scandal box-shadow-default shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="assets/media/blog/post62.webp" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div>
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">FOOD</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Virtual Reality (VR), The Use Computer Modeling</a></h3>
                            <ul class="entry-meta color-dark-1-fixed">
                                <li class="post-author">
                                    <a href="author.html">
                                        Esther Howard
                                    </a>
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>7 min read
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="post-box-layout22 radius-default padding-20 bg-color-mimosa box-shadow-default shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="assets/media/blog/post63.webp" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div>
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">TECH</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Red Lion Attack Underwater Exercise Is Used Weak Muscles</a></h3>
                            <ul class="entry-meta color-dark-1-fixed">
                                <li class="post-author">
                                    <a href="author.html">
                                        John Philipe
                                    </a>
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>6 min read
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="post-box-layout22 radius-default padding-20 bg-color-selago box-shadow-default shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="assets/media/blog/post64.webp" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div>
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">TRAVEL</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Reality Hosting, The Use Computer Modeling Moderation</a></h3>
                            <ul class="entry-meta color-dark-1-fixed">
                                <li class="post-author">
                                    <a href="author.html">
                                        Alisa Michaels
                                    </a>
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>5 min read
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="post-box-layout22 radius-default padding-20 bg-color-old-lace box-shadow-default shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="assets/media/blog/post65.webp" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div>
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">HEALTH</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Millions Of Manuscripts Are Written Aenean Ac Iaculis</a></h3>
                            <ul class="entry-meta color-dark-1-fixed">
                                <li class="post-author">
                                    <a href="author.html">
                                        Ashley Graham
                                    </a>
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>3 min read
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="post-box-layout22 radius-default padding-20 bg-color-mimosa box-shadow-default shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="assets/media/blog/post4.webp" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div>
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">FASHION</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used By Jhon Hasal Strengthen Weak Muscles</a></h3>
                            <ul class="entry-meta color-dark-1-fixed">
                                <li class="post-author">
                                    <a href="author.html">
                                        Sergio Pliego
                                    </a>
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>8 min read
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="post-box-layout22 radius-default padding-20 bg-color-scandal box-shadow-default shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="500" src="assets/media/blog/post6.webp" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div>
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">SPORTS</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food Choices 101 Tips For Busy Women Which Are Fashionable</a></h3>
                            <ul class="entry-meta color-dark-1-fixed">
                                <li class="post-author">
                                    <a href="author.html">
                                        Kristin Watson
                                    </a>
                                </li>
                                <li>
                                    <i class="regular-clock-circle"></i>7 min read
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
