{% load static %}   

<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->
<section class="post-wrap-layout21 space-top-50 bg-color-light-1 transition-default">
    <div class="container">
        <div class="section-heading heading-style-1">
            <h2 class="title">Top Stories</h2>
            <a href="archive-layout1.html" class="link-wrap">Go to Stories <span class="icon-holder"><i class="regular-arrow-right"></i></span> </a>
        </div>
        <div class="row g-3">
            <div class="col-lg-4">
                <div class="post-box-layout4 radius-default padding-20 bg-color-old-lace box-shadow-large shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="{% static "media/blog/post7.jpeg" %}" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div class="entry-category style-2 color-dark-1-fixed">
                            <ul>
                                <li>
                                    <a href="archive-layout1.html">FOOD</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="entry-title color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food Choices 101 Tips For Busy Women</a></h3>
                        <ul class="entry-meta color-dark-1-fixed">
                            <li class="post-author">
                                <a href="author.html">
                                    <img src="assets/media/blog/profile1.webp" alt="Author">
                                    Sergio Pliego
                                </a>
                            </li>
                            <li>
                                <i class="regular-clock-circle"></i>3 min read
                            </li>
                            <li>
                                <i class="regular-eye"></i>9k
                            </li>
                        </ul>
                        <a href="post-format-default.html" class="btn-text color-dark-1-fixed">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="post-box-layout4 radius-default padding-20 bg-color-mimosa box-shadow-large shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="{% static "media/blog/post7.jpeg" %}" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div class="entry-category style-2 color-dark-1-fixed">
                            <ul>
                                <li>
                                    <a href="archive-layout1.html">DESIGN</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="entry-title color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless Charging Case</a></h3>
                        <ul class="entry-meta color-dark-1-fixed">
                            <li class="post-author">
                                <a href="author.html">
                                    <img src="assets/media/blog/profile2.webp" alt="Author">
                                    Kristin Watson
                                </a>
                            </li>
                            <li>
                                <i class="regular-clock-circle"></i>9 min read
                            </li>
                            <li>
                                <i class="regular-eye"></i>9k
                            </li>
                        </ul>
                        <a href="post-format-default.html" class="btn-text color-dark-1-fixed">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="post-box-layout4 radius-default padding-20 bg-color-selago box-shadow-large shadow-style-2 box-border-dark-1 no-border transition-default">
                    <div class="figure-holder radius-default">
                        <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="{% static "media/blog/post7.jpeg" %}" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div class="entry-category style-2 color-dark-1-fixed">
                            <ul>
                                <li>
                                    <a href="archive-layout1.html">SPORTS</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="entry-title color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used Strengthen Weak Muscles</a></h3>
                        <ul class="entry-meta color-dark-1-fixed">
                            <li class="post-author">
                                <a href="author.html">
                                    <img src="assets/media/blog/profile3.webp" alt="Author">
                                    Jenny Wilson
                                </a>
                            </li>
                            <li>
                                <i class="regular-clock-circle"></i>7 min read
                            </li>
                            <li>
                                <i class="regular-eye"></i>9k
                            </li>
                        </ul>
                        <a href="post-format-default.html" class="btn-text color-dark-1-fixed">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>