{% load static %}

<section class="post-wrap-layout9 space-top-50 bg-color-light-1 transition-default">
    <div class="container">
        <div class="multi-posts-layout2">
            <div class="row g-4">
                <div class="col-lg-3 col-12 order-lg-2">
                    <div class="d-flex align-items-center h-100">
                        <ul class="nav nav-tabs">
                            <!-- if forloop.first  template tag to mark the first post's link and tab content as active by default.-->
                            {% for post in posts %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" href="#post-{{ forloop.counter }}">
                                    <span>{{ post.title }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-12 order-lg-1">
                    <div class="tab-content h-100">
                        {% for post in posts %}
                        <div class="tab-pane fade h-100 {% if forloop.first %}show active{% endif %}" id="post-{{ forloop.counter }}">
                            <!--cycle template tag to cycle through different background colors-->
                            <div class="post-box-layout13 box-border-dark-1 radius-default padding-20 bg-color-{% cycle 'scandal' 'mimosa' 'selago' 'old-lace' %} box-shadow-large shadow-style-2 transition-default">
                                <div class="figure-holder radius-default">
                                    <a href="#" class="link-wrap img-height-100">
                                        {% if post.image and post.image.url %}
                                        <img width="660" height="596" src="{{ post.image.url }}" alt="{{ post.title }}"><!-- 404 error-->
                                        {% else %}
                                        <img width="660" height="596" src="{% static 'media/post_images/photoyoutube.jpg' %}" alt="{{ post.title }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="content-holder">
                                    <div>
                                        <div class="entry-category style-2 color-dark-1-fixed">
                                            <ul>
                                                {% for tag in post.tags.all %}
                                                <li>
                                                    <a href="#">{{ tag }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <h3 class="entry-title h3-extra-large color-dark-1-fixed underline-animation">
                                            <a href="#" class="link-wrap">{{ post.title }}</a>
                                        </h3>
                                        <p class="entry-description color-dark-1-fixed">{{ post.content|truncatechars:150 }}</p>
                                        <ul class="entry-meta color-dark-1-fixed">
                                            <li class="post-author">
                                                <a href="#">
                                                    <img src="{% static 'media/blog/profile3.webp' %}" alt="Author">
                                                    {{ post.author }}
                                                </a>
                                            </li>
                                            <li>
                                                <i class="regular-clock-circle"></i>2 min read
                                            </li>
                                            <li>
                                                <i class="regular-eye"></i>9k
                                            </li>
                                        </ul>
                                        <a href="{% url 'article_detail' slug=post.slug %}" class="btn-text color-dark-1-fixed">View the post<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>