{% load static %}

<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->
<section class="post-wrap-layout10 space-top-25 bg-color-light-1 transition-default">
    <div class="container">
        <div class="position-relative">
            <div id="post-slider-5" class="post-slider-5 outer-top-5 gutter-30 initially-none">
                <div class="single-slide">
                    <div class="post-box-layout11 box-border-dark-1 radius-default padding-20 bg-color-scandal box-shadow-large shadow-style-2 transition-default">
                        <div class="figure-holder radius-default">
                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="320" src="{% static 'media/blog/post49.webp'%}" alt="Post"></a>
                        </div>
                        <div class="content-holder">
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">SPORTS</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food Choices 101 Tips For Busy Women</a></h3>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="post-box-layout11 box-border-dark-1 radius-default padding-20 bg-color-mimosa box-shadow-large shadow-style-2 transition-default">
                        <div class="figure-holder radius-default">
                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="320" src="{% static 'media/blog/post49.webp' %}" alt="Post"></a>
                        </div>
                        <div class="content-holder">
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">FOOD</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless Charging Case</a></h3>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="post-box-layout11 box-border-dark-1 radius-default padding-20 bg-color-selago box-shadow-large shadow-style-2 transition-default">
                        <div class="figure-holder radius-default">
                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="320" src="{% static 'media/blog/post49.webp'%}" alt="Post"></a>
                        </div>
                        <div class="content-holder">
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">TECH</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Virtual Reality The Use Computer Modeling</a></h3>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="post-box-layout11 box-border-dark-1 radius-default padding-20 bg-color-old-lace box-shadow-large shadow-style-2 transition-default">
                        <div class="figure-holder radius-default">
                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="320" src="{% static 'media/blog/post49.webp'%}" alt="Post"></a>
                        </div>
                        <div class="content-holder">
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">FASHION</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Reality Hosting, The Use Computer Modeling</a></h3>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="post-box-layout11 box-border-dark-1 radius-default padding-20 bg-color-selago box-shadow-large shadow-style-2 transition-default">
                        <div class="figure-holder radius-default">
                            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="500" height="320" src="{% static 'media/blog/post49.webp'%}" alt="Post"></a>
                        </div>
                        <div class="content-holder">
                            <div class="entry-category style-2 color-dark-1-fixed">
                                <ul>
                                    <li>
                                        <a href="archive-layout1.html">HEALTH</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="entry-title h3-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless Charging Case.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="slider-navigation-layout1 color-light-1 position-layout2">
                <li id="post-prev-5" class="prev"><i class="regular-arrow-left"></i></li>
                <li id="post-next-5" class="next"><i class="regular-arrow-right"></i></li>
            </ul>
        </div>
    </div>
</section>
