{% load static %}
<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->
<section class="post-wrap-layout12 bg-color-woodsmoke space-top-50 space-bottom-60 transition-default">
    <div class="container">
        <div class="section-heading heading-style-4">
            <h2 class="title">Top Videos</h2>
        </div>
        <div class="row g-3">
            <div class="col-lg-6">
                <div class="post-box-layout14 box-border-light-1-fixed radius-default both-side-equal">
                    <div class="figure-holder radius-default">
                        <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" aria-label="Youtube Video" class="play-btn size-large popup-youtube"><i class="solid-play"></i></a>
                        <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="700" height="700" src="{% static 'media/blog/post58.webp'%}" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div class="entry-category style-2 color-dark-1-fixed">
                            <ul>
                                <li>
                                    <a href="archive-layout1.html">AMERICA</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="entry-title h3-large color-light-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Beauty Of Deep Space. Billions Of
                                Galaxies In The Universe.</a></h3>
                        <ul class="entry-meta color-light-1-fixed">
                            <li class="post-author">
                                <a href="author.html">
                                    <img src="assets/media/blog/profile3.webp" alt="Author">
                                    Esther Howard
                                </a>
                            </li>
                            <li>
                                <i class="regular-clock-circle"></i>5 min read
                            </li>
                            <li>
                                <i class="regular-eye"></i>9k
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-sm-6 col-12">
                        <div class="post-box-layout16 box-border-light-1-fixed radius-default both-side-equal">
                            <div class="figure-holder radius-default">
                                <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" aria-label="Youtube Video" class="play-btn size-small position-top-right popup-youtube not-animation"><i class="solid-play"></i></a>
                                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="540" height="540" src="{% static 'media/blog/post59.webp'%}" alt="Post"></a>
                            </div>
                            <div class="content-holder">
                                <h3 class="entry-title h3-extra-small color-light-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Reality Hosting, The Use
                                        Computer Modeling</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="post-box-layout16 box-border-light-1-fixed radius-default both-side-equal">
                            <div class="figure-holder radius-default">
                                <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" aria-label="Youtube Video" class="play-btn size-small position-top-right popup-youtube not-animation"><i class="solid-play"></i></a>
                                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="540" height="540" src="{% static 'media/blog/post60.webp'%}" alt="Post"></a>
                            </div>
                            <div class="content-holder">
                                <h3 class="entry-title h3-extra-small color-light-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Virtual Reality (VR), The Use
                                        Computer Modeling</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="post-box-layout16 box-border-light-1-fixed radius-default both-side-equal">
                            <div class="figure-holder radius-default">
                                <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" aria-label="Youtube Video" class="play-btn size-small position-top-right popup-youtube not-animation"><i class="solid-play"></i></a>
                                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="540" height="540" src="{% static 'media/blog/post61.webp'%}" alt="Post"></a>
                            </div>
                            <div class="content-holder">
                                <h3 class="entry-title h3-extra-small color-light-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used
                                        Strengthen Weak Muscles</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="post-box-layout16 box-border-light-1-fixed radius-default both-side-equal">
                            <div class="figure-holder radius-default">
                                <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" aria-label="Youtube Video" class="play-btn size-small position-top-right popup-youtube not-animation"><i class="solid-play"></i></a>
                                <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="540" height="540" src="{% static 'media/blog/post61.webp'%}" alt="Post"></a>
                            </div>
                            <div class="content-holder">
                                <h3 class="entry-title h3-extra-small color-light-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food 101 Tips For
                                        Health That Provide</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>