{% load static %}

<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->
<section class="post-wrap-layout11 space-top-50 space-bottom-60 bg-color-light-1 transition-default">
    <div class="container">
        <div class="section-heading heading-style-1">
            <h2 class="title">Latest Stories</h2>
        </div>
        <div class="row g-3">
            <div class="col-lg-7">
                <div class="post-box-layout14 box-border-dark-1 radius-default both-side-equal">
                    <div class="figure-holder radius-medium">
                        <a href="post-format-default.html" class="link-wrap figure-overlay img-height-100"><img width="710" height="538" src="{% static 'media/blog/post53.webp'%}" alt="Post"></a>
                    </div>
                    <div class="content-holder">
                        <div class="entry-category style-2 color-dark-1-fixed">
                            <ul>
                                <li>
                                    <a href="archive-layout1.html">AMERICA</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="entry-title h3-large color-light-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Beauty Of Deep Space. Billions Of
                                Galaxies In The Universe</a></h3>
                        <p class="entry-description color-light-1-fixed">On August 15th, an alarming email popped up in
                            the inbox of Diana Pearl, a New York-based news editor.</p>
                        <ul class="entry-meta color-light-1-fixed">
                            <li class="post-author">
                                <a href="author.html">
                                    <img src="assets/media/blog/profile2.webp" alt="Author">
                                    Jenny Wilson
                                </a>
                            </li>
                            <li>
                                <i class="regular-clock-circle"></i>3 min read
                            </li>
                            <li>
                                <i class="regular-eye"></i>9k
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="multi-posts-layout3 padding-30 bg-color-scandal box-border-dark-1 radius-default">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#five">Popular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#six">Recent</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="five">
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post55.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food 101 Tips For
                                            Health That Provide Our Life Easer</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>4 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Beauty Of Deep Space.
                                            Billions Of Galaxies In The Universe.</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>1 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless
                                            Charging Case That Make Me Happy.</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>9 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise For
                                            Health Strengthen Weak</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>5 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="six">
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods Pro With Wireless
                                            Charging Case That Make Me Happy.</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>9 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise For
                                            Health Strengthen Weak</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>5 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food 101 Tips For
                                            Health That Provide Our Life Easer</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>2 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-box-layout15">
                                <div class="figure-holder">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="100" height="100" src="{% static 'media/blog/post56.webp'%}" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <h3 class="entry-title h3-extra-small color-dark-1-fixed underline-animation"><a href="post-format-default.html" class="link-wrap">Beauty Of Deep Space.
                                            Billions Of Galaxies In The Universe.</a></h3>
                                    <ul class="entry-meta color-dark-1-fixed">
                                        <li>
                                            <i class="regular-clock-circle"></i>1 min read
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>