{% load static %}
<!--=====================================-->
<!--=        blog_sidebar               =-->
<!--=====================================-->

<div class="col-lg-4 sticky-coloum-item">
    <div class="sidebar-global sidebar-layout4">
        <div class="sidebar-widget">
            <div class="widget-banner banner-layout1">
                <div class="radius-default box-border-dark-1 img-height-100">
                    <div class="figure-holder radius-medium">
                        <img width="700" height="294" src="assets/media/banner/banner2.webp" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
        

        {% include "article_sidebar_layout/search.html" %}
        {% include "article_sidebar_layout/explore_tipics.html" %}
        {% include "article_sidebar_layout/ahort_stories.html" %}
        {% include "article_sidebar_layout/ads_banner.html" %}
        {% include "article_sidebar_layout/subscribeto_newslater_sidebar.html" %}
        {% include "article_sidebar_layout/recommanded_topics.html" %}
        {% include "article_sidebar_layout/follow_us.html" %}
        {% include "article_sidebar_layout/related_article.html" %}
        {% include "article_sidebar_layout/subscribeto_newslater.html" %}


    </div>
</div>