{% extends "share_layout/base.html" %}
{% load static %}
{% block content %}



    <!-- area with navbar  -->
    {% include "share_layout/head_area.html" %}
    

        <!--=====================================-->
        <!--=          HOME LAYOUT POSTS        =-->
        <!--=====================================-->
        {% include "home_section_layout/modern_section_start.html" %}
        {% include "home_section_layout/modern_category_area.html" %}
        {% include "home_section_layout/section_start.html" %}

        {% include "home_section_layout/modern_topstories.html" %}

        
        {% include "archive_pages/archive-layout3.html"%}

  
    
    
    
   
    <!--=====================================-->
    <!--=         Banner Area Start         =-->
    <!--=====================================-->
    <section class="banner-wrap-layout-2 space-top-60 space-bottom-60 bg-color-light-1 transition-default">
        <div class="container">
            <div class="banner-box-layout2 box-border-dark-1 radius-default">
                <div class="figure-holder radius-medium">
                    <a href="#" class="link-wrap img-height-100"><img width="1232" height="230" src="{% static "media/banner/banner4.webp" %}" alt="Banner"></a>
                </div>
            </div>
        </div>
    </section>
    
    {% include "share_layout/search.html" %}

{% endblock %}