{% extends "share_layout/base.html" %}
{% load static %}
{% block content %}



<div class="axil-social social-layout-1 size-small gap-12">
    <ul>
        <li class="facebook">
            <a aria-label="Learn more from Facebook" href="https://facebook.com/">
                <i class="solid-facebook2"></i>
            </a>
        </li>
        <li class="instagram">
            <a aria-label="Learn more from Instagram" href="https://instagram.com/">
                <i class="regular-instagram"></i>
            </a>
        </li>
        <li class="mail-fast">
            <a aria-label="Learn more from Mail fast" href="https://mail-fast.com/">
                <i class="regular-mail-fast"></i>
            </a>
        </li>
        <li class="pinterest">
            <a aria-label="Learn more from Pinterest" href="https://pinterest.com/">
                <i class="solid-pinterest-01"></i>
            </a>
        </li>
        <li class="youtube">
            <a aria-label="Learn more from Youtube" href="https://youtube.com/">
                <i class="solid-youtube"></i>
            </a>
        </li>
    </ul>
</div>




<!--=====================================-->
<!--=       breadcrumb Area Start       =-->
<!--=====================================-->
<section class="breadcrumb-wrap-layout1 bg-color-old-lace">
    <div class="container">
        <div class="breadcrumb-layout1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Single Blog</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->
<section class="space-top-60 space-bottom-60 single-blog-wrap3 bg-color-light-1 transition-default">
    <div class="container">

        <div class="single-blog-content content-layout3">
            <div class="entry-category style-2 color-dark-1">
                <ul>
                    <li>
                        <a href="#">{{ post.get_tags }}</a>
                    </li>
                </ul>
            </div>
            <h1 class="entry-title color-dark-1">{{ post.title }}</h1>
            <ul class="entry-meta color-dark-1">
                <li class="post-author">by <a href="#">{{ post.author }}</a></li>
                <li><i class="regular-calendar-01"></i>{{ post.created_on|date:"F d, Y" }}</li>
                <li><i class="regular-eye"></i>{{ post.postvisit_set.count }} views</li>
                <li><i class="regular-chatting"></i>{{ post.comments.count }} Comments</li>
            </ul>
            <div class="mb-4 box-border-dark-1 radius-default transition-default">
                <div class="figure-holder img-height-100 radius-medium">
                    <img width="1232" height="600" src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
            </div>
            {{ post.content|safe }}
        </div>
    </div>
</section>

           


<div class="tag-share-wrap">
    <div class="tagcloud-wrap">
        <h4 class="mb-2 h4-small">Tags:</h4>
        <div class="tagcloud">
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="regular-taxi-1"></i>
                </span>Travel
            </a>
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="solid-interactive"></i>
                </span>History
            </a>
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="regular-shopping-basket2"></i>
                </span>Fashion
            </a>
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="regular-globe-stand"></i>
                </span>World
            </a>
        </div>
    </div>
    <div class="share-wrap">
        <h4 class="mb-2 h4-small">Share:</h4>
        <div class="axil-social social-layout-1 size-large gap-12">
            <ul>
                <li class="facebook">
                    <a aria-label="Learn more from Facebook" href="https://facebook.com/">
                        <i class="solid-facebook2"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a aria-label="Learn more from Instagram" href="https://instagram.com/">
                        <i class="regular-instagram"></i>
                    </a>
                </li>
                <li class="mail-fast">
                    <a aria-label="Learn more from Mail fast" href="https://mail-fast.com/">
                        <i class="regular-mail-fast"></i>
                    </a>
                </li>
                <li class="pinterest">
                    <a aria-label="Learn more from Pinterest" href="https://pinterest.com/">
                        <i class="solid-pinterest-01"></i>
                    </a>
                </li>
                <li class="youtube">
                    <a aria-label="Learn more from Youtube" href="https://youtube.com/">
                        <i class="solid-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="author-wrap bg-color-mimosa">
    <div class="author-thumb img-height-100">
        <img width="178" height="178" src="assets/media/blog/author.webp" alt="Author Figure">
    </div>
    <div class="author-content">
        <h4 class="entry-title color-dark-1-fixed">Georges Embolo</h4>
        <div class="author-designation">Lead Designer</div>
        <p class="entry-description color-dark-1-fixed">While the law might seem obvious, designers often engage in creative work where they try to reinvent the wheel for the sake of novelty.</p>
        <div class="axil-social social-layout-2 color-dark-1-fixed size-medium gap-12">
            <ul>
                <li class="pinterest">
                    <a aria-label="Learn more from Pinterest" href="https://pinterest.com/">
                        <i class="regular-pinterest"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a aria-label="Learn more from Instagram" href="https://instagram.com/">
                        <i class="regular-instagram"></i>
                    </a>
                </li>
                <li class="twitter">
                    <a aria-label="Learn more from Twitter" href="https://twitter.com/">
                        <i class="regular-tweeter"></i>
                    </a>
                </li>
                <li class="mail-fast">
                    <a aria-label="Learn more from Mail Fast" href="https://mail-fast.com/">
                        <i class="regular-mail-fast"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="post-navigation">
    <div class="post-box prev-post">
        <div class="figure-holder">
            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="540" height="540" src="assets/media/blog/post60.webp" alt="Post"></a>
        </div>
        <div class="content-holder">
            <a href="post-format-default.html" class="text-box prev-text">
                <div class="icon-holder"><i class="regular-arrow-left"></i></div>Previous Post
            </a>
            <h3 class="entry-title h3-small color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used Strengthen Weak Muscles</a></h3>
        </div>
    </div>
    <div class="post-box next-post">
        <div class="figure-holder">
            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="540" height="540" src="assets/media/blog/post61.webp" alt="Post"></a>
        </div>
        <div class="content-holder">
            <a href="post-format-default.html" class="text-box next-text">Next Post<div class="icon-holder"><i class="regular-arrow-right"></i></div></a>
            <h3 class="entry-title h3-small color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">The Science Skin-car A Long Way But There’s Still</a></h3>
        </div>
    </div>
</div>

{% endblock content %}