{% load static %}

{% load markdown_extras %}

<!--=====================================-->
<!--=          Post Area Start          =-->
<!--=====================================-->

<div class="single-blog-content content-layout1 pe-lg-4">
    <div class="entry-category style-2 color-dark-1">
        <ul>
            <li>
                {% for tag in  post.tags.all %}
                <a href="#">{{ tag }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
    <h1 class="entry-title color-dark-1">{{ post.title }}</h1>
    <ul class="entry-meta color-dark-1">
        <li class="post-author">by <a href="#">{{ post.author }}</a></li>
        <li><i class="regular-calendar-01"></i>{{ post.created_on|date:"F d, Y" }}</li>
        <li><i class="regular-eye"></i>{{ post.postvisit_set.count }} views</li>
        <li><i class="regular-chatting"></i>{{ post.comments.count }} Comments</li>
    </ul>

    {% include "blog/article_layout/article_social_links.html" %}

    <div class="mb-4 box-border-dark-1 radius-default transition-default">
        <div class="figure-holder img-height-100 radius-medium">
            <img width="1232" height="600" src="{{ post.image.url }}" alt="{{ post.title }}">
        </div>
    </div>

    {{ post.content|render_markdown|safe|linebreaks }}

   {% include "blog/article_layout/article_tags_and_share.html" %}
   {% include "blog/article_layout/article_author.html" %}
   {% include "blog/article_layout/article_prev_next_post.html" %}

</div>
