{% load static %}   

<!-- Start Mainmenu Nav -->
<div id="mobilemenu-popup" class="mobile-menu-wrap">
    <div class="mobile-logo-wrap d-lg-none d-block">
        <div class="logo-holder">
            <a href="{% url 'home' %}" class="link-wrap single-logo light-mode img-height-100" aria-label="Site Logo"><img width="131" height="47" src="assets/media/logo-dark.svg" alt="logo"></a>
            <a href="{% url 'home' %}" class="link-wrap single-logo dark-mode img-height-100" aria-label="Site Logo"><img width="131" height="47" src="assets/media/logo-light.svg" alt="logo" aria-label="Site Logo"></a>
        </div>
        <button aria-label="Offcanvas" type="button" class="mobile-close" data-bs-dismiss="offcanvas"><i class="regular-multiply-circle"></i></button>
    </div>
    <nav id="dropdown" class="template-main-menu">
        <ul class="menu">
            <li class="menu-item menu-item-has-children">
                <a href="{% url 'home' %}">Home</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="index.html">Home Default</a></li>
                    <li class="menu-item"><a href="home-modern.html">Home Modern</a></li>
                    <li class="menu-item"><a href="home-standard.html">Home Standard</a></li>
                    <li class="menu-item"><a href="home-news.html">Home News</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="about.html">About</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children second-lavel">
                        <a href="#">Archive Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="archive-layout1.html">Archive Layout 1</a></li>
                            <li class="menu-item"><a href="archive-layout2.html">Archive Layout 2</a></li>
                            <li class="menu-item"><a href="archive-layout3.html">Archive Layout 3</a></li>
                            <li class="menu-item"><a href="archive-layout4.html">Archive Layout 4</a></li>
                            <li class="menu-item"><a href="archive-layout5.html">Archive Layout 5</a></li>
                            <li class="menu-item"><a href="archive-layout6.html">Archive Layout 6</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children second-lavel">
                        <a href="#">Other Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="author.html">Author</a></li>
                            <li class="menu-item"><a href="404.html">404</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children mega-menu-desktop d-lg-block d-none">
                <a href="#">Single Blog</a>
                <div class="container mega-menu-wrap">
                    <div class="mega-menu-bg">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="post-format-default.html">Single Default</a></li>
                                    <li class="menu-item"><a href="post-format-full-width-banner.html">Single Full Width Banner</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-12">
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="post-format-standard.html">Single Standard</a></li>
                                    <li class="menu-item"><a href="post-format-without-sidebar.html">Single Without Sidebar</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-12">
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="post-format-audio.html">Single Audio</a></li>
                                    <li class="menu-item"><a href="post-format-slider.html">Single Slider</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-12">
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="post-format-video.html">Single Video</a></li>
                                    <li class="menu-item"><a href="#">Coming Soon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-item-has-children mega-menu-mobile d-lg-none d-block">
                <a href="#">Single Blog</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="post-format-default.html">Single Default</a></li>
                    <li class="menu-item"><a href="post-format-full-width-banner.html">Single Full Width Banner</a></li>
                    <li class="menu-item"><a href="post-format-standard.html">Single Standard</a></li>
                    <li class="menu-item"><a href="post-format-without-sidebar.html">Single Without Sidebar</a></li>
                    <li class="menu-item"><a href="post-format-audio.html">Single Audio</a></li>
                    <li class="menu-item"><a href="post-format-slider.html">Single Slider</a></li>
                    <li class="menu-item"><a href="post-format-video.html">Single Video</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </nav>
</div>
<!-- End Mainmanu Nav -->
<div class="d-flex align-items-center gap-3">
    <div class="d-xl-block d-none">
        <div class="search-layout-1">
            <form>
                <button aria-label="Search" type="button" class="icon-holder"><i class="regular-search-02"></i></button>
                <input type="text" class="form-control" placeholder="Search">
                <button aria-label="Microphone" type="button" class="btn-mic"><i class="regular-microphone"></i></button>
            </form>
        </div>
    </div>
    <div class="d-none d-lg-block d-xl-none">
        <div class="search-trigger-wrap">
            <a href="#search-trigger" title="search">
                <i class="regular-search-02"></i>
            </a>
        </div>
    </div>
    <div class="d-lg-block d-none">
        <div class="profile-wrap dropdown-item-wrap">
            <div class="navbar navbar-expand-md">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Profile">
                        <span class="thumble-holder img-height-100"><img width="40" height="40" src="assets/media/blog/profile4.webp" alt="Profile"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown2">
                        <div class="dropdown-menu-inner">
                            <div class="profile-content with-icon">
                                <ul>
                                    <li><a href="author.html">
                                            <div class="icon-holder"><i class="regular-user"></i></div>Profile
                                        </a></li>
                                    <li><a href="author.html">
                                            <div class="icon-holder"><i class="regular-activity"></i></div>Activity Log
                                        </a></li>
                                    <li><a href="author.html">
                                            <div class="icon-holder"><i class="regular-plus-rectangle"></i></div>Library
                                        </a></li>
                                </ul>
                            </div>
                            <div class="profile-content">
                                <ul>
                                    <li><a href="author.html">Become a Member</a></li>
                                    <li><a href="author.html">Apply for author verification</a></li>
                                    <li><a href="author.html">Settings</a></li>
                                </ul>
                            </div>
                            <div class="mt-3">
                                <a href="#" class="w-100 axil-btn axil-btn-ghost btn-color-alter axil-btn-small">Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-lg-none d-block">
        <div class="my_switcher">
            <ul>
                <li title="Light Mode">
                    <button type="button" aria-label="Light" class="setColor light" data-theme="light">
                        <i class="solid-light-mode"></i>
                    </button>
                </li>
                <li title="Dark Mode">
                    <button type="button" aria-label="Dark" class="setColor dark" data-theme="dark">
                        <i class="solid-half-moon"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile-menu-btn d-lg-none d-block">
        <button aria-label="Offcanvas" class="btn-wrap" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu-popup">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>

