{% load static %}
<div id="topbar-wrap">
    <div class="topbar-global color-dark-1-fixed">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between gap-1">
                <div class="news-feed-wrap">
                    <div class="news-feed-label">BREAKING:</div>
                    <div id="news-feed-slider" class="news-feed-slider initially-none">
                        <div class="single-slide">
                            <a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used Weak Of Muscles Thats Good</a>
                        </div>
                        <div class="single-slide">
                            <a href="post-format-default.html" class="link-wrap">Tesla’s Cooking Up A New Way To Wire</a>
                        </div>
                        <div class="single-slide">
                            <a href="post-format-default.html" class="link-wrap">50 Years After The Moon Landing: How Close</a>
                        </div>
                        <div class="single-slide">
                            <a href="post-format-default.html" class="link-wrap">Millions Of Manuscripts Are Written</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-4">
                    <div class="current-date d-lg-block d-none">July 5, 2023</div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-lg-block d-none">
                            <div class="my_switcher">
                                <ul>
                                    <li title="Light Mode">
                                        <button type="button" aria-label="Light" class="setColor light" data-theme="light">
                                            <i class="solid-light-mode"></i>
                                        </button>
                                    </li>
                                    <li title="Dark Mode">
                                        <button type="button" aria-label="Dark" class="setColor dark" data-theme="dark">
                                            <i class="solid-half-moon"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-lg-block d-none">
                            <div class="notification-wrap dropdown-item-wrap">
                                <div class="navbar navbar-expand-md">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle has-notification" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Notification">
                                            <span class="icon-holder"><i class="regular-notification-011"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown1">
                                            <div class="dropdown-menu-inner">
                                                <label class="article-number">Recent Articles (10)</label>
                                                <div class="item-wrap">
                                                    <a href="post-format-default.html" class="notification-item">
                                                        <div class="post-box">
                                                            <div class="figure-holder radius-default img-height-100">
                                                                <img width="540" height="600" src="assets/media/blog/post93.webp" alt="Post">
                                                            </div>
                                                            <div class="content-holder">
                                                                <h3 class="entry-title color-dark-1 h3-extra-small">Could The Complement Our Digit.</h3>
                                                                <ul class="entry-meta color-dark-1">
                                                                    <li>
                                                                        <i class="regular-clock-circle"></i>3 min read
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="post-format-default.html" class="notification-item">
                                                        <div class="post-box">
                                                            <div class="figure-holder radius-default img-height-100">
                                                                <img width="540" height="600" src="assets/media/blog/post94.webp" alt="Post">
                                                            </div>
                                                            <div class="content-holder">
                                                                <h3 class="entry-title color-dark-1 h3-extra-small">On August 15th, an alarming email popped.</h3>
                                                                <ul class="entry-meta color-dark-1">
                                                                    <li>
                                                                        <i class="regular-clock-circle"></i>8 min read
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="post-format-default.html" class="notification-item">
                                                        <div class="post-box">
                                                            <div class="figure-holder radius-default img-height-100">
                                                                <img width="540" height="600" src="assets/media/blog/post95.webp" alt="Post">
                                                            </div>
                                                            <div class="content-holder">
                                                                <h3 class="entry-title color-dark-1 h3-extra-small">Nam eget lorem mattis, consequat felis quis, luctus augue.</h3>
                                                                <ul class="entry-meta color-dark-1">
                                                                    <li>
                                                                        <i class="regular-clock-circle"></i>3 min read
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="notification-btn-wrap">
                                                    <a href="archive.html" class="w-100 axil-btn axil-btn-ghost btn-color-alter axil-btn-small">View All
                                                        <div class="icon-holder"><i class="regular-arrow-right"></i></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>