{% load static %}

<div class="author-wrap bg-color-mimosa">
    <div class="author-thumb img-height-100">
        <img width="178" height="178" src="assets/media/blog/author.webp" alt="Author Figure">
    </div>
    <div class="author-content">
        <h4 class="entry-title color-dark-1-fixed">Georges Embolo</h4>
        <div class="author-designation">Lead Designer</div>
        <p class="entry-description color-dark-1-fixed">While the law might seem obvious, designers often engage in creative work where they try to reinvent the wheel for the sake of novelty.</p>
        <div class="axil-social social-layout-2 color-dark-1-fixed size-medium gap-12">
            <ul>
                <li class="pinterest">
                    <a aria-label="Learn more from Pinterest" href="https://pinterest.com/">
                        <i class="regular-pinterest"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a aria-label="Learn more from Instagram" href="https://instagram.com/">
                        <i class="regular-instagram"></i>
                    </a>
                </li>
                <li class="twitter">
                    <a aria-label="Learn more from Twitter" href="https://twitter.com/">
                        <i class="regular-tweeter"></i>
                    </a>
                </li>
                <li class="mail-fast">
                    <a aria-label="Learn more from Mail Fast" href="https://mail-fast.com/">
                        <i class="regular-mail-fast"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>