{% load static %}

<div class="post-navigation">
    <div class="post-box prev-post">
        <div class="figure-holder">
            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="540" height="540" src="assets/media/blog/post60.webp" alt="Post"></a>
        </div>
        <div class="content-holder">
            <a href="post-format-default.html" class="text-box prev-text">
                <div class="icon-holder"><i class="regular-arrow-left"></i></div>Previous Post
            </a>
            <h3 class="entry-title h3-small color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used Strengthen Weak Muscles</a></h3>
        </div>
    </div>
    <div class="post-box next-post">
        <div class="figure-holder">
            <a href="post-format-default.html" class="link-wrap img-height-100"><img width="540" height="540" src="assets/media/blog/post61.webp" alt="Post"></a>
        </div>
        <div class="content-holder">
            <a href="post-format-default.html" class="text-box next-text">Next Post<div class="icon-holder"><i class="regular-arrow-right"></i></div></a>
            <h3 class="entry-title h3-small color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">The Science Skin-car A Long Way But There’s Still</a></h3>
        </div>
    </div>
</div>