{% load static %}

<!-- al inizion i link dei social-->
<div class="axil-social social-layout-1 size-small gap-12">
    <ul>
        <li class="facebook">
            <a aria-label="Learn more from Facebook" href="https://facebook.com/">
                <i class="solid-facebook2"></i>
            </a>
        </li>
        <li class="instagram">
            <a aria-label="Learn more from Instagram" href="https://instagram.com/">
                <i class="regular-instagram"></i>
            </a>
        </li>
        <li class="mail-fast">
            <a aria-label="Learn more from Mail fast" href="https://mail-fast.com/">
                <i class="regular-mail-fast"></i>
            </a>
        </li>
        <li class="pinterest">
            <a aria-label="Learn more from Pinterest" href="https://pinterest.com/">
                <i class="solid-pinterest-01"></i>
            </a>
        </li>
        <li class="youtube">
            <a aria-label="Learn more from Youtube" href="https://youtube.com/">
                <i class="solid-youtube"></i>
            </a>
        </li>
    </ul>
</div>