{% load static %}

<!-- I file in basso quando finisce il articolo-->
<div class="tag-share-wrap">
    <div class="tagcloud-wrap">
        <h4 class="mb-2 h4-small">Tags:</h4>
        <div class="tagcloud">
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="regular-taxi-1"></i>
                </span>Travel
            </a>
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="solid-interactive"></i>
                </span>History
            </a>
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="regular-shopping-basket2"></i>
                </span>Fashion
            </a>
            <a href="archive-layout1.html" class="tag-cloud-link">
                <span class="icon-holder">
                    <i class="regular-globe-stand"></i>
                </span>World
            </a>
        </div>
    </div>
    <div class="share-wrap">
        <h4 class="mb-2 h4-small">Share:</h4>
        <div class="axil-social social-layout-1 size-large gap-12">
            <ul>
                <li class="facebook">
                    <a aria-label="Learn more from Facebook" href="https://facebook.com/">
                        <i class="solid-facebook2"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a aria-label="Learn more from Instagram" href="https://instagram.com/">
                        <i class="regular-instagram"></i>
                    </a>
                </li>
                <li class="mail-fast">
                    <a aria-label="Learn more from Mail fast" href="https://mail-fast.com/">
                        <i class="regular-mail-fast"></i>
                    </a>
                </li>
                <li class="pinterest">
                    <a aria-label="Learn more from Pinterest" href="https://pinterest.com/">
                        <i class="solid-pinterest-01"></i>
                    </a>
                </li>
                <li class="youtube">
                    <a aria-label="Learn more from Youtube" href="https://youtube.com/">
                        <i class="solid-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>