{% load static %}   

<body class="mobilemenu-active">


    <a href="#main-wrapper" id="backto-top" class="back-to-top" aria-label="Back To Top">
        <i class="regular-direction-up"></i>
    </a>
    <div id="main-wrapper" class="main-wrapper">

        
    
        <!--=====================================-->
        <!--=          Contact Area Start       =-->
        <!--=====================================-->
        <section class="archive-wrap-layout-3 space-top-60 bg-color-light-1 transition-default">
            <div class="container">
                <div class="row g-3">
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="video-post-wrap">
                                    <video class="video-box radius-default" id="video-player-1" playsinline controls>
                                        <source src="assets/media/post-format-video-1.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">FOOD</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used
                                            Strengthen Weak Muscles</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile5.webp" alt="Author">
                                                John Philipe
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>3 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder position-relative radius-default">
                                    <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" aria-label="Youtube Video" class="play-btn size-medium popup-youtube"><i class="solid-play"></i></a>
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post8.webp" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">MUSIC</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">World's Tallest Building Could Surrounded By A Giant Ring</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile4.webp" alt="Author">
                                                Alisa Michaels
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>4 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder radius-default">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post9.webp" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">TRAVEL</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Virtual Reality (Vr), The Use Of Computer Modeling</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile3.webp" alt="Author">
                                                Ashley Graham
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>9 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="position-relative">
                            <div id="post-slider-4" class="post-slider-4 img-height-100 gutter-30">
                                <div>
                                    <div class="animated-border border-style-large transition-default">
                                        <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                            <div class="figure-holder radius-default">
                                                <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post11.webp" alt="Post"></a>
                                            </div>
                                            <div class="content-holder">
                                                <div class="entry-category style-2 color-dark-1-fixed">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">FASHION</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods with Wireless Charging Case That Happy</a></h3>
                                                <ul class="entry-meta color-dark-1">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="assets/media/blog/profile2.webp" alt="Author">
                                                            Sergio Pliego
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>7 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                                <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="animated-border border-style-large transition-default">
                                        <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                            <div class="figure-holder radius-default">
                                                <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post26.webp" alt="Post"></a>
                                            </div>
                                            <div class="content-holder">
                                                <div class="entry-category style-2 color-dark-1-fixed">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">FASHION</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">World's Tallest Building Could Surrounded By A Giant Ring</a></h3>
                                                <ul class="entry-meta color-dark-1">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="assets/media/blog/profile2.webp" alt="Author">
                                                            Sergio Pliego
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>7 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                                <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="animated-border border-style-large transition-default">
                                        <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                            <div class="figure-holder radius-default">
                                                <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post27.webp" alt="Post"></a>
                                            </div>
                                            <div class="content-holder">
                                                <div class="entry-category style-2 color-dark-1-fixed">
                                                    <ul>
                                                        <li>
                                                            <a href="archive-layout1.html">FASHION</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used Strengthen Weak</a></h3>
                                                <ul class="entry-meta color-dark-1">
                                                    <li class="post-author">
                                                        <a href="author.html">
                                                            <img src="assets/media/blog/profile2.webp" alt="Author">
                                                            Sergio Pliego
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="regular-clock-circle"></i>7 min read
                                                    </li>
                                                    <li>
                                                        <i class="regular-eye"></i>9k
                                                    </li>
                                                </ul>
                                                <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="slider-navigation-layout1 color-light-1-fixed nav-size-regular position-layout2">
                                <li id="post-prev-4" class="prev"><i class="regular-arrow-left"></i></li>
                                <li id="post-next-4" class="next"><i class="regular-arrow-right"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder radius-default">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post12.webp" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">HISTORY</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Smarter Food Choices 101 Tips For Busy Women</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile1.webp" alt="Author">
                                                Kristin Watson
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>6 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="audio-post-wrap radius-default"><iframe allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/184476938&color=%23ff2c54&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">GAME</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used
                                            Strengthen Weak</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile5.webp" alt="Author">
                                                Jenny Wilson
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>3 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder radius-default">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post25.webp" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">NEWS</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">World's Tallest Building Could Surrounded By A Giant Ring</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile4.webp" alt="Author">
                                                Esther Howard
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>1 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder radius-default">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post26.webp" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">ANIMATION</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Underwater Exercise Is Used
                                            Strengthen Weak Muscles</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile3.webp" alt="Author">
                                                John Philipe
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>8 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder radius-default">
                                    <a href="post-format-default.html" class="link-wrap img-height-100"><img width="660" height="470" src="assets/media/blog/post27.webp" alt="Post"></a>
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="archive-layout1.html">DESIGN</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a href="post-format-default.html" class="link-wrap">Air Pods with Wireless Charging Case That Happy</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a href="author.html">
                                                <img src="assets/media/blog/profile2.webp" alt="Author">
                                                Alisa Michaels
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>13 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="post-format-default.html" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="template-pagination pagination-center">
                    <ul>
                        <li class="disabled">Prev</li>
                        <li class="selected"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="disabled">...</li>
                        <li><a href="#">25</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
