{% load static %}
<div id="preloader" class="preloader">
    <div class="loader-wrap">
        <div class="single-box">
            <div class="circle-holder"></div>
            <div class="shadow-holder"></div>
        </div>
        <div class="single-box">
            <div class="circle-holder"></div>
            <div class="shadow-holder"></div>
        </div>
        <div class="single-box">
            <div class="circle-holder"></div>
            <div class="shadow-holder"></div>
        </div>
        <div class="single-box">
            <div class="circle-holder"></div>
            <div class="shadow-holder"></div>
        </div>
    </div>
</div>

<a href="#main-wrapper" id="backto-top" class="back-to-top" aria-label="Back To Top">
    <i class="regular-direction-up"></i>
</a>