<div class="post-comment">
    <div class="section-heading heading-style-7">
        <h3 class="title h3-regular">7 Comments</h3>
    </div>
    <ul class="comment-list">
        <li>
            <div class="each-comment">
                <div class="comment-figure img-height-100">
                    <img width="500" height="500" src="assets/media/blog/post17.webp" alt="Comment">
                </div>
                <div class="comment-content">
                    <h4 class="comment-title">Naiska Haack</h4>
                    <div class="comment-meta"><span class="post-date">Oct 10, 2022</span></div>
                    <p class="comment-comment">Creative work where they try to reinvent the wheel for the sake of novelty, we as designers are tasked with providing clients and users with new and inventive solutions.</p>
                    <a href="#" class="item-btn">Reply</a>
                </div>
            </div>
            <ul class="children">
                <li>
                    <div class="each-comment">
                        <div class="comment-figure img-height-100">
                            <img width="500" height="500" src="assets/media/blog/post18.webp" alt="Comment">
                        </div>
                        <div class="comment-content">
                            <h4 class="comment-title">Simmy Mack</h4>
                            <div class="comment-meta"><span class="post-date">Oct 10, 2022</span></div>
                            <p class="comment-comment">Creative work where they try to reinvent the wheel for the sake of novelty, we as designers are tasked with providing clients and users with new and inventive solutions.</p>
                            <a href="#" class="item-btn">Reply</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="each-comment">
                <div class="comment-figure img-height-100">
                    <img width="500" height="500" src="assets/media/blog/post19.webp" alt="Comment">
                </div>
                <div class="comment-content">
                    <h4 class="comment-title">Arlene McCoy</h4>
                    <div class="comment-meta"><span class="post-date">Oct 10, 2022</span></div>
                    <p class="comment-comment">Creative work where they try to reinvent the wheel for the sake of novelty, we as designers are tasked with providing clients and users with new and inventive solutions.</p>
                    <a href="#" class="item-btn">Reply</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="leave-comment">
    <div class="section-heading heading-style-7">
        <h3 class="title h3-regular">Post A Comment</h3>
    </div>
    <p class="mb-4">Your email address will not be published. Required fields are marked *</p>
    <form class="leave-form-box">
        <div class="row g-2">
            <div class="col-md-6 form-group">
                <input type="text" placeholder="Name" class="form-control" name="name" id="name" data-error="Name field is required" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6 form-group">
                <input type="email" placeholder="Your E-mail*" class="form-control" name="email" id="leave-email" data-error="E-mail field is required" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-12 form-group">
                <input type="checkbox" id="show-message" name="show-message" value="Bike">
                <label class="show-message-label" for="show-message">Don’t show this message again</label>
            </div>
            <div class="col-12 form-group">
                <div class="section-heading heading-style-7">
                    <h3 class="title h3-regular">Leave a Reply</h3>
                </div>
                <textarea class="textarea form-control" placeholder="Message" name="message" id="leave-message" rows="5" cols="20" data-error="Message field is required" required></textarea>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-12 form-group mt-2">
                <button type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="axil-btn axil-btn-fill btn-color-alter axil-btn-large"><span><span>Post
                            Comment</span></span></button>
            </div>
        </div>
    </form>
</div>